/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

/* Body Text (<p>): Lucida Sans, 16px;
    .h1-contact, .h2-contact, h3: Bebas Neue; 
   Fonts Used: font-family: 'Bebas Neue', cursive;
               font-family: 'Crimson Pro', serif;
               font-family: 'Encode Sans', sans-serif; 
               tables:: font-family: 'IBM Plex Mono', monospace; 
    
    COLORS:
        #FFBC59 - darker orange
        #357b70 - green 
        #e0b354 - lighter orange
        #223B50 - navy blue
        black    
    
*/


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    height: 100%;
}

header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row wrap;
}

p {
    line-height: 1.5rem;
}
/* ///////////////// NAVIGATION BAR //////////////////////////////////*/
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    /*margin: 0 5% 7% 46%;*/
    font-family: 'Bebas Neue', cursive, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 18px;
}

a {
    color: #000;
    list-style-type: none;
    text-decoration: none;
}
nav a:hover {
    background-color: #dfd5c5;
    border-radius: 2rem;
}
a:focus {
    background-color: #dfd5c5;
}
nav a:visited {
    color: #000;
}
nav a:active {
    color: #000;
}

li {
    list-style-type: none;
    text-decoration: none;
    display: inline-block;
    margin: 0.5rem 1rem 0 2rem;
	padding: 0;
}
/*/////////////////////////INDEX PAGE//////////////////////////////////*/

.portrait-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 70%;
}

.intro {
    margin: 8rem 20% 10% 25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hello-statement {
    margin-left: 2rem;
    display: inline-block;
}

button {
    font-size: 16px;
    font-family: inherit;
    border: none;
    background-color: #dfd5c5;
    color: #fff;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}

.btn-text {
    color: #000;
}
.btn-text:hover, .btn-text:visited {
    background-color: #dfd5c5;
}

.button {
    font-size: 16px;
    font-family: inherit;
    border: none;
    background-color: #dfd5c5;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 2rem;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
button:hover, button:focus, .button:hover, .button:focus {
    cursor: pointer;
    opacity: 0.8;
}

.button__secondary {
    background-color: #e0b354;
    color: #2b2b2b;
}

footer {
    /*margin: 5rem 20% 0 20%;*/
    border: px solid;
    text-align: center;
    margin: 8% 24.6% 20px 24.6%;
}
.find-me {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}

span {
    background-color: #223b50;
    border-radius: 2rem;
    color: #fff;
    font-style: italic;
    font-weight: bold;
}

.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
.page-header_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            /* flex-grow: 1; */
    text-align: right;
}

/* section {
    padding: 6rem;
} */
.section-label {
    background-color: #fff;
    border-radius: 2rem;
}
.section-label:hover {
    box-shadow: 5px 5px 5px #2b2b2b;
}
.label-container {
    padding: 2rem;
    text-align: center;
}
.parallax {
    background-image: url("https://images.pexels.com/photos/4705853/pexels-photo-4705853.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    padding: 6rem;
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
}

.parallax:hover {
    opacity: 0.5;
    -webkit-transition-duration: 0.2s;
         -o-transition-duration: 0.2s;
            transition-duration: 0.2s;
    -webkit-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.parallax-about {
    padding-left: 6rem;
    padding-right: 6rem;
}

.fadeLeftMini {
  animation: fadeLeftMini 1.8s;
  animation-fill-mode: both;
}
@keyframes fadeLeftMini {
  0% {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
/*//////////////////////PROJECTS PAGE//////////////////////////////////*/
.main {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    -ms-flex-preferred-size: 50% 50%;
        flex-basis: 50% 50%;
}

.projects {
    
    margin: 0 auto;
}
.project1-left, .project2, .project3 {
    height: auto;
    margin: 0;
}

.h1-projects {
    text-align: center;
}
.social-media {
    margin: 0 auto;
}

.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: .25fr .25fr .25fr;
    grid-template-rows: .25fr .25fr .25fr;
    margin: 8% 0 8% 5%;
}

.grid > *:nth-child(1) {
	-ms-grid-row: 1;
	-ms-grid-column: 1;
}

.grid > *:nth-child(2) {
	-ms-grid-row: 1;
	-ms-grid-column: 2;
}

.grid > *:nth-child(3) {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
}

.grid > *:nth-child(4) {
	-ms-grid-row: 2;
	-ms-grid-column: 1;
}

.grid > *:nth-child(5) {
	-ms-grid-row: 2;
	-ms-grid-column: 2;
}

.grid > *:nth-child(6) {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
}

.grid > *:nth-child(7) {
	-ms-grid-row: 3;
	-ms-grid-column: 1;
}

.grid > *:nth-child(8) {
	-ms-grid-row: 3;
	-ms-grid-column: 2;
}

.grid > *:nth-child(9) {
	-ms-grid-row: 3;
	-ms-grid-column: 3;
}

.grid-item-container:last-child {
    -ms-grid-column: 3;
        grid-column-start: 3;
    -ms-grid-column-span: 0;
    grid-column-end: 3;
    -ms-grid-row: 1;
        grid-row-start: 1;
    -ms-grid-row-span: 2;
    /* grid-row-end: 3; */
    border-bottom: 5px solid #357b70;
    border-right: 5px solid #357b70;
    border-top: 5px solid #357b70;
    border-radius: 15%;
    background-color: #000;
    color: #fff;
    margin-right: 15%;
    margin-left: 8%;
    padding: 18%;
}

.grid-item-a {
    color: #357b70;
}
.grid-item-container {
    border: px solid;
    padding: 1rem;
    margin-top: 20px;
}

section a:hover {
    text-decoration: underline;
    color: #357b70;
}

section:focus {
    text-decoration: underline;
    color: #357b70;
}


/*///////////////ABOUT ME PAGE///////////////////////////*/
.about-main {
    display: inline-block;
}
svg {
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.intro-about {
    margin: 5rem 20% 0% 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.about-statement {
    margin-left: 10%;
}

.portrait-cartoon {
    border-radius: 50%;
}
.about-portrait {
    border-radius: 10px;
}

@-webkit-keyframes sun-change {
    0% {
        fill: #EDEBDB;
    }
    50% {
        fill: #a9bac5;
    }
    100% {
        fill: #718ce6;
    }
}

@keyframes sun-change {
    0% {
        fill: #EDEBDB;
    }
    50% {
        fill: #a9bac5;
    }
    100% {
        fill: #718ce6;
    }
}
@-webkit-keyframes waves-move {
    from {
      -webkit-transform: translate(2, 0px);
              transform: translate(2, 0px);
    }
    to {
      -webkit-transform: translate(-2px, 0px);
              transform: translate(-2px, 0px);
    }
}
@keyframes waves-move {
    from {
      -webkit-transform: translate(2, 0px);
              transform: translate(2, 0px);
    }
    to {
      -webkit-transform: translate(-2px, 0px);
              transform: translate(-2px, 0px);
    }
}
circle {
    -webkit-animation: 4s sun-change infinite alternate linear;
            animation: 4s sun-change infinite alternate linear;
}
.waves {
    -webkit-animation: 1s waves-move infinite alternate linear;
            animation: 1s waves-move infinite alternate linear;
    max-width: 300px;
}

/*///////////////CONTACT PAGE///////////////////////////*/
.contact-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row nowrap;
            flex-direction: row nowrap;
    -ms-flex-preferred-size: 50% 50%;
        flex-basis: 50% 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 15%;
}

textarea {
	height: 10rem;
	padding: 1rem;
	width: 20rem;
    border-radius: 10px;
}

.contact-info {
    padding: none;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    margin: 2% 10% 0 15%;
}
.contact-info a:hover {
    background-color: #ffbc59;
}
a:focus {
    background-color: #ffbc59;
}
.contact-info a:visited {
    color: #000;
} 

label {
	display: inline-block;
    margin-bottom: 5%;
    margin-right: 5px;
    font-weight: bold;
}

input {
	border: 1px solid ;
    border-radius: 10px;
    display: inline-block;
    /* border: 2px solid #357b70; */
    padding: 5px;
}

.h1-contact {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.h2-contact {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}


form {
    display: inline-block;
    padding: none;
    margin: 2% 10% 0 6%;
}

.secondary_contact_submit {
    background-color: #fff;
    color: #223B50;
    font-family: 'Bebas Neue', cursive;
    border: none;
    margin-top: 2%;
    margin-left: 30%;
    font-size: 24px;
    font-weight: bold;
}
.secondary_contact_submit:hover {
    background-color: #ffbc59;
    color: #223B50;
    border-radius: 0;
}
.secondary_contact_submit:focus {
    background-color: #ffbc59;
    color: #223B50;
    border-radius: 0;
}
.contact-p {
    font-weight: bold;
}
.contact-p a {
    color: #223B50;
}

/*///////////////////// RESPONSIVE DESIGN //////////////////////////*/

@media all and (min-width: 500px) and (max-width: 750px){
    .grid {
      -ms-grid-columns: 1fr 10px 1fr;
      grid-template-columns: 1fr 1fr;
      grid-gap: 10px;
    }
    .grid__item:last-child {
      grid-column: auto / auto;
      grid-row: auto / auto;
    }
    h1 {
      font-size: 22px;
    }
  }
  @media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .grid-item-container:last-child {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    .h1-projects {
        font-size: 22px;
    }
}

@media all and (min-width: 500px) and (max-width: 1000px) {
    .intro-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .about-portrait {
        width: 150px;
        margin: 0 auto;
    }
    .hello-statement {
        display: inline-block;
    }
    .hello-statement h2 {
        font-size: 18px;
    }
    table {
        width: 400px;
    }
}
@media all and (max-width: 500px) {
    .intro-about {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .intro {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .contact-body {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    h1 {
        font-size: 22px;
    }
    .hello-statement {
        display: inline-block;
    }
    .about-portrait .portrait-left {
        width: 150px;
        margin: 0 auto;
    }
    svg {
        width: 80mm;
    }
    .navigation-list .page-header_item:last-child {
        font-size: 12px;
        text-align: left;
    }
    .btn-text {
        font-size: 10px;
    }
    button {
        font-size: 10px;
    }
}